body {
	width: 600px;
	background-color: #fff;
	margin: auto;
}

html {
	background-color: #bbb;
}

ul {
	list-style: none;
	padding-right: 40px;
	margin: 0;
}

li {
	margin: 0;
	text-indent: 0;
	height: 110px;
	padding: 20px 0 0 0;
	border-bottom: 2px solid gray;
}

li p {
	font-size: 22px;
}

li:last-child {
	border: none;
}

li.odd {
	background: url(http://placekitten.com/120/90) 0 18px no-repeat;
}

li.even {
	background: url(http://placekitten.com/120/100) 400px 13px no-repeat;
}

li.odd p {
	margin-left: 130px;
}

li.even p {
	margin-right: 130px;
}