body {
	width: 600px;
	background-color: #fff;
	margin: auto;
	font-family: Helvetica, sans-serif;
}

html {
	background-color: #bbb;
}

h2 {
	font-size: 18px;
	width: 120px;
	position: absolute;
	margin: 0;
	top: 0;
	color: #4444aa;
}

li.even h2 {
	right: 10px;
	text-align: right;
}

ul {
	list-style: none;
	padding-right: 40px;
	margin: 0;
}

li {
	position: relative;
	margin: 0;
	text-indent: 0;
	height: 110px;
	padding: 20px 0 0 0;
	border-bottom: 2px solid gray;
}

li p {
	font-size: 22px;
}

li:last-child {
	border: none;
}

li.odd {
	background: url(http://placekitten.com/120/90) 0 23px no-repeat;
}

li.even {
	background: url(http://placekitten.com/110/90) 400px 23px no-repeat;
}

li.odd p {
	margin-left: 130px;
}

li.even p {
	margin-right: 130px;
}